@import "tailwindcss";

@theme {
  --font-sans: "Lato", sans-serif;
  --default-transition-duration: 150ms;
}

#app {
  @apply h-dvh w-full select-none bg-gray-900 text-white;
}

@layer components {
  button.btn {
    @apply cursor-pointer rounded-lg bg-blue-500 px-4 py-2 font-bold text-white transition-colors hover:bg-blue-600;
  }
  input {
    @apply rounded-lg border border-gray-700 bg-gray-900 px-4 py-2 outline-none focus:border-blue-500
  }
}